.button {
    font-size: 1.2em;
    color: #ffff;
    background-color: $color-secondary;
    border-radius: 80px;
    border: none;
    box-shadow: inset -1.5em -1.5em 3em $color-primary, 0.1em 0.1em 0.2em #c5c5c5, -0.1em 0em 0.2em #c5c5c5;
    &:hover {
        cursor: pointer;
    }
    &--search {
        margin-bottom: 3.5em;
        margin-top: 1em;
        padding: 1em 1em;
    }
    &--order {
        margin-left: auto;
        margin-right: auto;
        padding: 1em 3.5em;
        margin-top: 3em;
        margin-bottom: 4em;
    }
}