.button {
    font-size: 1.2em;
    color: #ffff;
    background: linear-gradient(to top,rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
    border-radius: 80px;
    border: none;
    box-shadow: 0.1em 0.1em 0.2em #c5c5c5, -0.1em 0.1em 0.2em #c5c5c5;
    opacity: 1;
    transition: opacity 1000ms, box-shadow 500ms;
    &:hover {
        cursor: pointer;
        opacity: 0.8;
        box-shadow: 0.2em 0.2em 0.1em #c5c5c5, -0.2em 0.2em 0.1em #c5c5c5;
    }
    &--search {
        margin-bottom: 3.5em;
        margin-top: 1em;
        padding: 1em 1em;
    }
    &--order {
        margin-left: auto;
        margin-right: auto;
        padding: 1em 3.5em;
        margin-top: 3em;
        margin-bottom: 4em;
    }
}