.heart-icon {
    font-size: 1.8em;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding-right: 10px;
    &--homepage {
        position: relative;
        top: 20px;
        right: 20px;
        color: #ffff;
    }
    &--menupage {
        margin: 30px 20px 0px 0px;
        color: #f6f6f6;
    }
    &:hover {
        text-shadow: none;
        background: linear-gradient(to bottom, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 40%);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
    }
}