.menu_image {
    width: 100%;
    & img {
        width: 100%;
    }
}

.menu_logo {
    display: flex;
    & i {
        font-size: 3em;
        position: relative;
        left: 80px;
        top: 20px;
        color: black;
    }
}