.menu_image {
    width: 100%;
    height: 700px;
    display: flex;
    & img {
        width: 100%;
        object-fit: cover;
        align-items: center;
    }
}

.menu_logo {
    display: flex;
    & i {
        font-size: 3em;
        position: relative;
        left: 80px;
        top: 20px;
        color: black;
    }
}

.menu_dishes {
    background-color: #f6f6f6;
    border-radius: 100px 100px 0px 0px;
    position: relative;
    bottom: 120px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h1 {
            font-size: 4.4em;
            font-weight: normal;
            margin: 80px 0px 0px 35px;
        }
    }
    &__details {
        margin-bottom: -120px;
        &__title {
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 80px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 11%;
                border-bottom: 6px solid $color-tertiary;
            }
            & p {
                font-size: 2.5em;
            }
        }
    }
}

.dishes-card {
    width: 95%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 30px;
    box-shadow: 0em 0.2em 0.6em #d4d4d4;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    &__text {
        overflow: hidden;
    }
    &__text p:first-child {
        font-size: 3em;
        font-weight: bold;
        margin: 30px 20px 10px 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__text p:last-child {
        font-size: 2.5em;
        margin: 10px 20px 30px 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        transform: translate(150px, 0px);
        transition: transform 1000ms;
        & p {
            font-size: 2.5em;
            font-weight: bold;
            margin: 30px;
        }
        &__icon {
            background-color: $color-tertiary;
            width: 150px;
            height: 100%;
            border-radius: 0px 30px 30px 0px;
            & i {
                color: $color-tertiary;
                font-size: 2.4em;
                background-color: #ffffff;
                border-radius: 50%;
                width: 60px;
                height: 60px;
                line-height: 60px;
                padding-left: 8%;
                margin: 60px 45px 0px 45px;
                transform: rotate(720deg);
                transition: transform 1000ms;
            }
        }
    }
}
.dishes-card:hover > .dishes-card__price {
    transform: translate(0,0);
}

.dishes-card:hover > .dishes-card__price i {
    transform: rotate(0deg);
}

.button_align {
    text-align: center;
}