.menu_image {
    width: 100%;
    height: 320px;
    display: flex;
    & img {
        width: 100%;
        object-fit: cover;
        align-items: center;
    }
}

.menu_logo {
    display: flex;
    & i {
        font-size: 1.5em;
        position: relative;
        left: 20px;
        top: 15px;
        color: black;
    }
}

.menu_dishes {
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    bottom: 60px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & h1 {
            font-size: 1.8em;
            font-weight: normal;
            margin: 30px 0px 0px 20px;
        }
    }
    &__details {
        margin-bottom: -60px;
        &__title {
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 13%;
                border-bottom: 3px solid $color-tertiary;
                @media screen and (min-width: 900px) {
                    left: 45%;
                }
            }
            & p {
                font-size: 1.3em;
                @media screen and (min-width: 900px) {
                    text-align: center;
                }
            }
        }
    }
}

.dishes-card {
    width: 95%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    border-radius: 20px;
    box-shadow: 0em 0.2em 0.6em #d4d4d4;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    opacity: 0;
    max-width: 600px;
    transform: translateY(2em);
    animation: dishes-appearance 500ms forwards;
    @for $i from 1 through $num-dishes {
        &--#{$i} {
            animation-delay: $anim-delay * $i;
        }  
    }
    &__text {
        overflow: hidden;
    }
    &__text p:first-child {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0px 0px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__text p:last-child {
        font-size: 1em;
        margin: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        margin-right: -5.5em;
        transition-duration: 500ms;
        & p {
            font-size: 1.2em;
            font-weight: bold;
            margin: 40px 20px 10px 20px;
        }
        &__icon {
            background-color: $color-tertiary;
            width: 75px;
            height: 100%;
            border-radius: 0px 20px 20px 0px;
            & i {
                color: $color-tertiary;
                font-size: 1.2em;
                background-color: #ffffff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 30px;
                padding-left: 8%;
                margin: 30px 20px 0px 20px;
                transform: rotate(720deg);
                transition: transform 1000ms;
            }
        }
    }
}
.dishes-card:hover > .dishes-card__price {
    margin-right: 0em;
}

.dishes-card:hover > .dishes-card__price i {
    transform: rotate(0deg);
}

.button_align {
    text-align: center;
}