@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

h1 {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/**Footer**/
footer {
  background-color: #383434;
  color: #f6f6f6;
  font-size: 2.4em;
  padding-bottom: 2em;
}
footer img {
  margin: 1em 0em 0.3em 1.8em;
  width: 250px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-left: 1.8em;
}
.footer-list p {
  margin: 0.4em 0em;
}
.footer-list__with-icon {
  display: flex;
  align-items: center;
}
.footer-list__with-icon i {
  margin-right: 0.5em;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/*Recherche par ville*/
.recherche {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
  margin-top: 1em;
}
.recherche i {
  font-size: 2.5em;
  padding: 2rem;
  margin-left: 10%;
}
.recherche input {
  background-color: #eaeaea;
  font-size: 2.2em;
  border: none;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
.recherche input:focus-visible {
  outline: none;
}

.explorez {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.explorez h2 {
  font-size: 4em;
  text-align: center;
  margin: 1.5em 2em 0.5em 2em;
}
.explorez p {
  font-size: 3em;
  text-align: center;
  margin-top: 0em;
}

.bouton_recherche {
  font-size: 2.5em;
  color: white;
  background-color: #FF79DA;
  padding: 1em 1em;
  border-radius: 80px;
  border: none;
  box-shadow: inset -1.5em -1.5em 3em #9356DC, 0.1em 0.1em 0.2em #c5c5c5, -0.1em 0em 0.2em #c5c5c5;
  margin-bottom: 3.5em;
}

/**Partie tutoriel**/
.tuto {
  margin: 4em 4em;
}
.tuto h2 {
  font-size: 4em;
  margin-top: 1.5em;
  margin-bottom: 0.2em;
}
.tuto__etapes {
  display: flex;
  flex-direction: column;
}
.tuto__etapes__detail {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 40px;
  box-shadow: 0em 0.2em 0.6em #d4d4d4;
  margin: 2em 2em;
  padding: 1em;
  max-width: 900px;
  position: relative;
}
.tuto__etapes__detail i {
  line-height: 128px;
  font-size: 3em;
  color: #5b5b5b;
}
.tuto__etapes__detail__texte {
  font-size: 2.5em;
  margin-right: 40px;
  width: 75%;
  text-align: center;
}
.tuto__etapes__detail__chiffre {
  font-size: 2.5em;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  position: absolute;
  left: -3%;
}
.tuto__etapes__detail:hover {
  background-color: #f5edff;
}
.tuto__etapes__detail:hover i {
  color: #9356DC;
}

/**Présentation des restaurants**/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants h2 {
  font-size: 4em;
  margin: 1em 0em 0.5em 0.9em;
  padding-top: 1.5em;
}
.restaurants__align {
  display: flex;
  flex-direction: column;
  padding-bottom: 5em;
}
.restaurants__card {
  width: 90%;
  background-color: white;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  box-shadow: 0em 0.2em 0.6em #d4d4d4;
}
.restaurants__card__image {
  height: 450px;
  display: flex;
}
.restaurants__card__image img {
  width: 100%;
  align-items: center;
  object-fit: cover;
  border-radius: 30px 30px 0px 0px;
}
.restaurants__card__body {
  display: flex;
  justify-content: space-between;
}
.restaurants__card__body i {
  font-size: 4em;
  position: relative;
  top: 50px;
  right: 50px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.restaurants__card__body i:hover {
  text-shadow: none;
  background: linear-gradient(to bottom, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 40%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__card__text {
  margin: 1em 2em;
}
.restaurants__card__text h3 {
  font-size: 2.8em;
  margin: 0.3em 0em;
}
.restaurants__card__text p {
  font-size: 2.5em;
  margin: 0.1em 0em;
}

/*# sourceMappingURL=style.css.map */
